# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\victo\Desktop\AEDA2021_Part2_C2_G4\Bonus - CLion Project with Unit Tests\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
